// colors
$color-title: #fff;
$color-title-subsection: #bababa;
$color-table: lighten($color-title-subsection, 20%);
$color-accent: #d10011;
$color-available: #fff;
$color-reserved: #7fb800;
$color-sold: #d10011;
$color-map-building: #ff0000;

$bg-light: #fff;
$bg-tooltip: #2d2d2d;

// spacing
$section-padding-x: 3rem;
$section-padding-y: 2rem;

// media breakpoints
$media-s-min: 576px;
$media-m-min: 768px;
$media-l-min: 992px;
$media-xl-min: 1200px;
$media-xxl-min: 1400px;

$media-xs-max: ($media-s-min - 1);
$media-s-max: ($media-m-min - 1);
$media-m-max: ($media-l-min - 1);
$media-l-max: ($media-xl-min - 1);
$media-xl-max: ($media-xxl-min - 1);
