// colors
$color-title: #fff;
$color-title-subsection: #bababa;
$color-accent: #d10011;
$color-available: #fff;
$color-reserved: #7fb800;
$color-sold: #d10011;
$color-map-building: #7fb800;

$bg-light: #fff;

// spacing
$section-padding-x: 3rem;
$section-padding-y: 2rem;
$section-padding: $section-padding-y $section-padding-x;
