@import "vars";

#rebi {
    * {
        box-sizing: border-box;
    }

    .rebi {
        &__section {
            position: relative;

            &-building {
                color: $color-title;
            }

            &-floors {

            }

            &-apartments {

            }
        }

        &__building {
            img {
                width: 100%;
                height: auto;
            }
        }

        &__tip {
            text-transform: uppercase;
            position: absolute;
            left: $section-padding-x;
            top: 50%;
            transform: rotateZ(-90deg) translateX(-50%);
            transform-origin: left center;
        }

        &__title-block {
            position: absolute;
            left: $section-padding-x;
            bottom: $section-padding-y;
        }

        &__subtitle {
            text-transform: uppercase;
            font-size: 1.5rem;
        }

        &__title {
            font-size: 3rem;
            margin: .5rem 0;
        }

    }
}
