@import "vars";

#rebi {
    * {
        box-sizing: border-box;
    }

    input {
        &[type="radio"],
        +label {
            cursor: pointer;
        }

        &[type="radio"] {
            position: relative;

            &:before,
            &:after {
                content: '';
                display: inline-block;
                visibility: visible;
                position: absolute;
            }

            &:before {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                background-color: $bg-light;
                border: 2px solid $color-title-subsection;
            }

            &:after {
                width: 11px;
                height: 11px;
                border-radius: 11px;
                top: 0;
                left: 1px;
                background-color: $bg-light;
                border: 2px solid $bg-light;
            }

            &:checked:after {
                background-color: $color-accent;
            }
        }

        +label {
            padding-left: ($section-padding-x / 4);
        }
    }

    .rebi {
        &__section {
            position: relative;

            &--padding {
                padding: $section-padding;
            }

            &-building {
                color: $color-title;
            }

            &-floors {
                &-params {

                }

                &-carousel {
                    .rebi__map polygon {

                    }
                }
            }

            &-apartments {

            }
        }

        &__subsection {
            &-title {
                text-transform: uppercase;
                color: $color-title-subsection;
                letter-spacing: .25rem;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                display: inline-block;
            }
        }

        &__btn {
            outline: none;
            cursor: pointer;

            &-view {
                text-transform: uppercase;
                border: {
                    width: 2px;
                    style: solid;
                    color: $color-accent;
                }
                padding: 1rem 2rem;
                background-color: $bg-light;
                font-size: 1rem;
            }
        }

        &__row {
            display: flex;

            > .rebi__col {
                &--left {
                    flex-grow: 1;
                }

                &--right {
                    align-self: center;
                }
            }
        }

        &__building,
        &-carousel {
            img {
                width: 100%;
                height: auto;
            }
        }

        &__building {
            position: relative;
        }

        &__map {
            position: absolute;
            top: 0;
            left: 0;

            polygon {
                fill: $color-map-building;
                cursor: pointer;
                opacity: 0;
                transition: .3s ease-in-out;

                &:hover {
                    opacity: .5;
                }

                &.status {
                    &-1 {
                        fill: $color-available;
                    }

                    &-2 {
                        fill: $color-reserved;
                    }

                    &-3 {
                        fill: $color-sold;
                    }
                }
            }
        }

        &-carousel {
            overflow: hidden;

            &__slides {
                display: flex;
                transition: .5s ease-in-out;
            }

            &__slide {
                position: relative;
                width: 100%;
                flex: 0 0 auto;
            }

            &__floors {
                polygon {
                    opacity: .5;

                    &:hover {
                        opacity: .8;
                    }
                }
            }

            &__apartments {
                img {
                    width: 50%;
                }

                .rebi-carousel__slide {
                    display: flex;
                }
            }
        }

        &__tip {
            text-transform: uppercase;
            position: absolute;
            left: $section-padding-x;
            top: 50%;
            transform: rotateZ(-90deg) translateX(-50%);
            transform-origin: left center;
        }

        &__title-block {
            position: absolute;
            left: $section-padding-x;
            bottom: $section-padding-y;
        }

        &__subtitle {
            text-transform: uppercase;
            font-size: 1.5rem;
        }

        &__title {
            font-size: 3rem;
            margin: .5rem 0;
        }

        &__params {
            &-floors {
                display: flex;
            }

            &-floor {
                margin-right: $section-padding-x;
                font-size: 1.25rem;
            }
        }

        &__legend {
            margin-top: 2rem;
        }

        &__flags {
            display: flex;
        }

        &__flag {
            display: flex;
            align-items: center;
            margin-right: 4rem;

            &-block {
                width: 1.5rem;
                height: 1.5rem;
            }

            &-name {
                margin-left: 1rem;
                font-size: 1rem;
            }

            &--available {
                border: {
                    width: 3px;
                    style: solid;
                    color: $color-title-subsection;
                }
                background-color: $color-available;
            }

            &--reserved {
                background-color: $color-reserved;
            }

            &--sold {
                background-color: $color-sold;
            }
        }

        &-apartments {
            &-props {
                flex-grow: 1;
            }
        }
    }
}
